[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aplex = {editable = true,path = "."}
pytest = "*"
pytest-mock = "*"
pytest-sugar = "*"
pytest-timeout = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-intl = "*"
recommonmark = "*"
m2r = "*"
twine = "*"

[packages]
